name: CI

on:
  pull_request:
    branches: [ dev, main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      # -----------------------
      # .NET API
      # -----------------------
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x

      - name: Restore API
        run: dotnet restore DocVault.Api/DocVault.Api.csproj

      - name: Build API
        run: dotnet build DocVault.Api/DocVault.Api.csproj --configuration Release --no-restore

      - name: Run API Tests
        run: dotnet test --no-build --verbosity normal

      # -----------------------
      # Angular Frontend
      # -----------------------
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: frontend/package-lock.json

      - name: Install Frontend Dependencies
        working-directory: frontend
        run: npm ci

      - name: Build Angular
        working-directory: frontend
        run: npm run build -- --configuration production
